name: Git Checks

on: [pull_request]

jobs:
  block-fixup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    steps:
    - uses: actions/checkout@v4
    - name: Check no !fixup commits
      uses: 13rac1/block-fixup-merge-action@v2.0.0
